body {
  margin:0;
  font-family: 'Inter', sans-serif;
  background:#0b0e17;
  color:#fff;
}

/* Navbar */
.navbar {
  display:flex;
  justify-content:space-between;
  padding:20px 8%;
  background:#121722;
  align-items:center;
}

.logo {
  font-size:22px;
  font-weight:800;
  color:#f0b90b;
}

nav a {
  margin:0 15px;
  text-decoration:none;
  color:#ccc;
}

nav a:hover {
  color:#fff;
}

.auth-buttons button {
  padding:8px 18px;
  margin-left:10px;
  border-radius:6px;
  border:none;
  cursor:pointer;
}

.login {
  background:transparent;
  color:#fff;
  border:1px solid #333;
}

.signup {
  background:#f0b90b;
  color:#000;
  font-weight:600;
}

/* Hero */
.hero {
  display:flex;
  justify-content:space-between;
  padding:80px 8%;
  align-items:center;
}

.hero-left h1 {
  font-size:48px;
  margin-bottom:20px;
}

.hero-left p {
  color:#aaa;
  margin-bottom:25px;
}

.primary {
  background:#f0b90b;
  border:none;
  padding:12px 24px;
  font-weight:600;
}

.secondary {
  background:transparent;
  border:1px solid #f0b90b;
  color:#f0b90b;
  padding:12px 24px;
  margin-left:15px;
}

.stats-card {
  background:#141933;
  padding:20px;
  margin-bottom:15px;
  border-radius:10px;
}

/* Features */
.features {
  padding:80px 8%;
  text-align:center;
}

.feature-grid {
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  gap:20px;
  margin-top:40px;
}

.card {
  background:#141933;
  padding:30px;
  border-radius:12px;
  transition:0.3s;
}

.card:hover {
  transform:translateY(-8px);
  background:#1a2035;
}
body{
    background:#0b0e11;
    color:white;
    font-family:Arial;
    padding:40px;
}

input, select{
    display:block;
    margin:10px 0;
    padding:10px;
    width:250px;
}

button{
    padding:10px 20px;
    background:#fcd535;
    border:none;
    cursor:pointer;
}

a{
    color:#fcd535;
}
